<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">

    </script>
    <meta charset="utf-8">
    <title>Using Mongoose</title>
  </head>
  <body>
    <form action = "/users" method = "post">
      Name:
      <input type = "text" name = "name"><br>
      Age:
      <input type = "text" name = "age"><br>
      <input type = "submit" value = "Submit">
    </form>
  </body>
</html>
